html, body, .bodyContainer {
  margin: 0;
  padding: 0;
  /*font-family: Montserrat, Fraunces, sans-serif;*/
}

body {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #F3EAE3;


}

.bodyContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  border-radius: 10px;
  background-color: white;

}



.imageContainer {
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 300px;

}

@media only screen and (max-width: 800px) {
  .bodyContainer {
    flex-direction: column;
    width: 500px;

  }
}