html, body, .bodyContainer {
  margin: 0;
  padding: 0;

}

body {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #F3EAE3;
}

.topContainer {
  background-image: url("./images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}

.bodyContainer {
  border-radius: 10px;
  background-color: var(--pureWhite);
  width: 600px;
  height: 450px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.bottomContainer {
  padding: 20px 20px;
  width: 237px;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-family: var(--font-montserrat), serif;
  font-size: 12px;
  letter-spacing: 5px;
  color: var(--aurometal);

}

h2 {
  font-family: var(--font-fraunces), serif;
  font-size: 32px;
  color: var(--gunmetal);
  font-weight: 700;
}

p {
  font-family: var(--font-montserrat), serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  color: var(--aurometal);
  display: flex;
  align-items: center;
  gap: 19px;
}

#mainPrice {
  font-family: var(--font-fraunces), serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--deepAquamarine);

}

#beforePrice {
  font-family: var(--font-montserrat), serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  color: var(--aurometal);
  text-decoration-line: line-through;

}

button {
  width: 236px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--deepAquamarine);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--pureWhite);
}

#buttonText {
  font-family: var(--font-montserrat), serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--pureWhite);
}

svg {
  width: 14px;
  height: 16px;
  padding-right: 5px;
}

button:hover {
  background-color: var(--deepAquamarineHover);
}

:root {
  --aurometal: #6C7289;
  --creamBG: #F2EAE2;
  --deepAquamarine: #3D8168;
  --deepAquamarineHover: #1A4032;
  --gunmetal: #1C232B;
  --pureWhite: #FFFFFF;
  --font-montserrat: Montserrat;
  --font-fraunces: Fraunces;
}

@media screen and (max-width: 768px) {
  .bodyContainer {
    flex-direction: column;
    width: 343px;
    height: 611px;

  }

  .topContainer {
    background-image: url("./images/image-product-mobile.jpg");
    height: 100%;
  }

  .bottomContainer {
    padding: 20px 20px;
    width: 295px;
  }

  button {
    width: 295px;
  }
}
